body{
    background-color: rgb(254, 246, 246);
}
.namebar{
    background-color: rgb(200, 197, 197);
}
#btn{
    background-color: rgb(11, 104, 73);
    color:aliceblue;
}
h1{
    color:brown;
}
